/* Elements */

body {
    background: #EFEFEF;
}

p {
    color: #444444;
}


/* Navbar */

.dropdown-menu {
    background-color: #13487c;
}

.dropdown-menu li a {
    color: #EFEFEF;
}

.custom-brand i.fa {
    display: none;
}

@media (min-width: 1130px) {
    .custom-brand i.fa {
        display: inline;
    }
}

.navbar-custom {
    background-color: #1c75ce;
    border-bottom: 1px solid #13487c;
}

.navbar-custom .navbar-brand {
    color: #EFEFEF;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #EFEFEF;
    background-color: transparent;
}

.navbar-custom .navbar-text {
    color: #EFEFEF;
}

.navbar-custom .navbar-nav > li > a {
    color: #EFEFEF;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #EFEFEF;
    background-color: #13487c;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #EFEFEF;
    background-color: #13487c;
}

.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #EFEFEF;
    background-color: transparent;
}

.navbar-custom .navbar-toggle {
    border: none;
    background: #2288EE;
    float: left;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #13487c;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #ddd;
}

.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #2288EE;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #2288EE;
    background-color: #EFEFEF;
}

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li,
.navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-custom .navbar-right {
    float: right!important;
}

.custom-bars {
    display: none;
}

@media (max-width: 990px) {
    .custom-bars {
        display: block;
    }
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #EFEFEF;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #EFEFEF;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #2288EE;
        background-color: #EFEFEF;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #EFEFEF;
        background-color: transparent;
    }
}

.navbar-custom .navbar-link {
    color: #EFEFEF;
}

.navbar-custom .navbar-link:hover {
    color: #EFEFEF;
}

.navbar-custom .btn-link {
    color: #EFEFEF;
}

.navbar-custom .btn-link:hover,
.navbar-custom .btn-link:focus {
    color: #EFEFEF;
}

.navbar-custom .btn-link[disabled]:hover,
fieldset[disabled] .navbar-custom .btn-link:hover,
.navbar-custom .btn-link[disabled]:focus,
fieldset[disabled] .navbar-custom .btn-link:focus {
    color: #EFEFEF;
}


/* Header */

.custom-header {
    display: block;
    width: 100%;
    background-color: #1c75ce;
    margin-top: 50px;
    min-height: 230px;
    margin-bottom: 50px;
}

.custom-header .container {
    padding-top: 30px;
}

.custom-header h1 {
    font-size: 60px;
    color: #EFEFEF;
}

.custom-header p {
    font-size: 20px;
    color: #13487c;
}

.fixed {
    position: fixed;
}


/* Sidenav */

.aside {
    background: #EFEFEF;
}

.aside-header {
    background-color: #1c75ce !important;
}


/* all links */

.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

.show-nav {
    display: block;
}

@media (max-width: 990px) {
    .show-nav {
        display: none;
    }
}


/* nested links */

.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}


/* active & hover links */

.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: #1c75ce;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #1c75ce;
}


/* all active links */

.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}


/* nested active links */

.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}


/* hide inactive nested list */

.bs-docs-sidebar .nav ul.nav {
    display: none;
}


/* show active nested list */

.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}


/* Sections */

.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #999;
}

.custom-section {
    padding-bottom: 50px;
}