/* Elements */

body {
    background: #EFEFEF;
}

p {
    color: #444444;
}

.block {
    display: block;
    margin: 5px;
}

.unscrollable {
    overflow: hidden;
}


/* custom button*/

.btn-no-border {
    border: none !important;
}

.hover-blue:hover {
    background-color: #1c75ce !important;
    color: #e7e7e7 !important;
}


/* Navbar */

.dropdown-menu {
    background-color: #13487c;
}

.dropdown-menu li a {
    color: #EFEFEF;
}

.custom-brand i.fa {
    display: none;
}

@media (min-width: 1130px) {
    .custom-brand i.fa {
        display: inline;
    }
}

.navbar-custom {
    background-color: #1c75ce;
    border-bottom: 1px solid #13487c;
}

.navbar-custom .navbar-brand {
    color: #EFEFEF;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #EFEFEF;
    background-color: transparent;
}

.navbar-custom .navbar-text {
    color: #EFEFEF;
}

.navbar-custom .navbar-nav > li > a {
    color: #EFEFEF;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #EFEFEF;
    background-color: #13487c;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #EFEFEF;
    background-color: #13487c;
}

.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #EFEFEF;
    background-color: transparent;
}

.navbar-custom .navbar-toggle {
    border: none;
    background: #2288EE;
    float: left;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #13487c;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #ddd;
}

.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #2288EE;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #2288EE;
    background-color: #EFEFEF;
}

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li,
.navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-custom .navbar-right {
    float: right!important;
}

.custom-bars {
    display: none;
}

@media (max-width: 990px) {
    .custom-bars {
        display: block;
    }
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #EFEFEF;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #EFEFEF;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #2288EE;
        background-color: #EFEFEF;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #EFEFEF;
        background-color: transparent;
    }
}

.navbar-custom .navbar-link {
    color: #EFEFEF;
}

.navbar-custom .navbar-link:hover {
    color: #EFEFEF;
}

.navbar-custom .btn-link {
    color: #EFEFEF;
}

.navbar-custom .btn-link:hover,
.navbar-custom .btn-link:focus {
    color: #EFEFEF;
}

.navbar-custom .btn-link[disabled]:hover,
fieldset[disabled] .navbar-custom .btn-link:hover,
.navbar-custom .btn-link[disabled]:focus,
fieldset[disabled] .navbar-custom .btn-link:focus {
    color: #EFEFEF;
}


/* Header */

.custom-header {
    display: block;
    width: 100%;
    background-color: #1c75ce;
    margin-top: 50px;
    min-height: 230px;
    margin-bottom: 50px;
}

.custom-header .container {
    padding-top: 30px;
}

.custom-header h1 {
    font-size: 60px;
    color: #EFEFEF;
}

.custom-header p {
    font-size: 20px;
    color: #13487c;
}

@media (max-width: 550px) {
    .custom-header h1 {
        text-align:center;
        font-size: 40px;
    }
    .custom-header p {
        text-align:center;
        font-size: 15px;
    }
}

.fixed {
    position: fixed;
}


/* Sidenav */

.aside {
    background: #EFEFEF;
}

.aside-header {
    background-color: #1c75ce !important;
}


/* all links */

.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

.show-nav {
    display: block;
}

@media (max-width: 990px) {
    .show-nav {
        display: none;
    }
}


/* nested links */

.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}


/* active & hover links */

.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: #1c75ce;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #1c75ce;
}


/* all active links */

.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}


/* nested active links */

.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}


/* hide inactive nested list */

.bs-docs-sidebar .nav ul.nav {
    display: none;
}


/* show active nested list */

.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}


/* Sections */

.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #999;
}

.custom-section {
    padding-bottom: 50px;
}

.panel-dark {
    border: 1px solid #333333;
    border-radius: 0px !important;
    margin: 0px !important;
}

.panel-dark .panel-heading {
    color: #e7e7e7;
    background: #333333;
    border-radius: 0px;
    cursor: pointer;
}

.panel-dark .panel-heading:hover {
    background: #1C75CE;
}

.panel-dark .panel-body {
    background: #e7e7e7;
}

.custom-skill i.fa {
    color: #1C75CE;
}


/* Timeline */

@media only screen and (min-width: 1170px) {
    .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 40px;
    }
    timeline-event:nth-child(even) .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
}


/* Projects */

.custom-card-wrapper {
    display: block;
    clear: both;
    display: table;
    margin-left: 0px;
}

.custom-card-container {
    width: 100%;
    height: 100%;
}

.custom-card {
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: table-cell;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

@media (min-width: 750px) {
    .custom-card {
        width: 200px;
        height: 200px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
}

@media (min-width: 1200px) {
    .custom-card-wrapper {
        margin-left: 80px;
    }
}

.custom-card img {
    width: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    opacity: 1;
    border-radius: 10px;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.custom-card .card-title {
    color: #EFEFEF;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background: #1C75CE;
    border-radius: 10px;
}

.custom-card .card-title .card-name {
    padding-top: 70px;
}

.custom-card:hover img {
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}


/* Project Modal */

.project-icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.project-modal .modal-title {
    margin-left: 40px;
}


/* Footer */

.footer {
    display: block;
    width: 100%;
    background: #1c75ce;
    height: 200px;
    text-align: center;
    color: #e7e7e7;
}

.copyright {
    padding-top: 30px;
    padding-bottom: 30px;
}

.fork-on-github {
    display: inline;
    width: 100px;
    height: 100px;
    text-align: center;
}

.fork-on-github a {
    color: #13487c;
    display: block;
    width: 100%;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.fork-on-github a:hover,
.fork-on-github a:focus {
    color: #e7e7e7;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.fork-on-github i {
    display: block;
    font-size: 60px;
}


/* Pace */

.pace.pace-inactive {
    display: none;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    height: 150px;
    width: 200px;
    text-align: center;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -100px;
    margin-top: -85px;
}

.pace .pace-progress {
    z-index: 2000;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:before {
    content: attr(data-progress-text);
    text-align: center;
    color: #1c75ce;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 100px;
    font-weight: bold;
    display: block;
    z-index: 999;
    position: absolute;
}