<div ng-include="'views/navbar.html'"></div>
<div class="custom-header">
    <div class="container">
        <div class="col-md-9">
            <h1>Maxwell Carter</h1>
            <p>3A Computer Engineering | University of Waterloo</p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
<div class="custom-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3 show-nav">
                <div ng-include="'views/sidenav.html'"></div>
            </div>
            <div class="col-md-9">
                <section class="custom-section" id="welcome" ng-include="'views/section-welcome.html'"></section>
                <section class="custom-section" id="about" ng-include="'views/section-about.html'"></section>
                <section class="custom-section" id="skills" ng-include="'views/section-skills.html'"></section>
                <section class="custom-section" id="timeline" ng-include="'views/section-timeline.html'"></section>
                <section class="custom-section" id="projects" ng-include="'views/section-projects.html'"></section>
                <section class="custom-section" id="contact" ng-include="'views/section-contact.html'"></section>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="copyright">
        <i class="fa fa-copyright"></i> Copyright | Created by Maxwell Carter
    </div>
    <div class="fork-on-github">
        <a href="https://github.com/maxcarter/Portfolio" target="_blank">
            <i class="fa fa-github"></i><span>Fork on GitHub</span>
        </a>
    </div>
</div>
