<div ng-include="'views/navbar.html'"></div>
<div class="custom-header">
    <div class="container">
        <div class="col-md-9">
            <h1>Maxwell Carter</h1>
            <p>3A Computer Engineering | University of Waterloo</p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
<div class="custom-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div ng-include="'views/sidenav.html'"></div>
            </div>
            <div class="col-md-9">
            </div>
        </div>
    </div>
</div>