<div ng-include="'views/navbar.html'"></div>
<div class="custom-header">
    <div class="container">
        <div class="col-md-9">
            <h1>Maxwell Carter</h1>
            <p>3A Computer Engineering | University of Waterloo</p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
<div class="custom-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3 show-nav">
                <div ng-include="'views/sidenav.html'"></div>
            </div>
            <div class="col-md-9">
                <section class="custom-section" id="welcome">
                    <h1 class="page-header">Welcome</h1>
                    <div flowtype min-font="15" max-font="20" font-ratio="35" line-ratio="1.5" minimum="1" maximum="9999">
                        <p>Hello, I am a Computer Engineering student from the University of Waterloo currently looking for employment! This is my portfolio website, you are invited to explore my world and try out some of my personal projects. I encourage you reach out by contacting me using one of the links below. </p>
                    </div>
                    <button type="button" class="btn btn-lg btn-primary">
                        <i class="fa fa-envelope"></i> Email
                    </button>
                    <button type="button" class="btn btn-lg btn-primary">
                        <i class="fa fa-linkedin-square"></i> Linkedin
                    </button>
                    <button type="button" class="btn btn-lg btn-primary">
                        <i class="fa fa-thumb-tack"></i> Resume
                    </button>
                </section>
                <section class="custom-section" id="about">
                    <h1 class="page-header">About</h1>
                    <div flowtype min-font="15" max-font="20" font-ratio="35" line-ratio="1.5" minimum="1" maximum="9999">
                        <p>I’m a technology enthusiast with special emphasis on software development. My interest lies in the the areas of web development, cloud computing (IaaS, PaaS, SaaS), software systems architecture, DevOps, and event-driven automation.</p>
                        <p>I am currently pursuing a Bachelor of Applied Science (BASc) in Computer Engineering at the University of Waterloo. It is a five year co-op program consisting of alternating four month work and study terms. I am currently looking for a work placement in any software development or related field.</p>
                    </div>
                </section>
                <section class="custom-section" id="skills">
                    <h1 class="page-header">Skills</h1>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div ng-include="'views/tpl-accordion.html'"></div>
                    </div>
                </section>
                <section class="custom-section" id="experience">
                    <h1 class="page-header">Experience</h1>
                </section>
                <section class="custom-section" id="projects">
                    <h1 class="page-header">Projects</h1>
                </section>
                <section class="custom-section" id="contact">
                    <h1 class="page-header">Contact</h1>
                </section>
            </div>
        </div>
    </div>
</div>