<div class="header">
    <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand custom-bars" href="" bs-aside data-container="body" data-placement="left" data-animation="am-slide-left" data-template-url="views/tpl-sidebar-aside.html"><i class="fa fa-bars"></i></a>
            <a class="navbar-brand" href="#thetop" du-smooth-scroll offset="0"><strong>MC</strong> Portfolio</a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://ca.linkedin.com/in/maxwellcarter" target="_blank"><i class="fa fa-linkedin-square"></i> <span class="linkName">Linkedin</span></a></li>
                <li><a href="https://github.com/maxcarter" target="_blank"><i class="fa fa-github"></i> <span class="linkName">GitHub</span></a></li>
            </ul>
        </div>
    </div>
</div>
