<h1 class="page-header">About</h1>
<div flowtype min-font="15" max-font="20" font-ratio="35" line-ratio="1.5" minimum="1" maximum="9999">
    <p>I’m a technology enthusiast with special emphasis on software development. My interest lies in the the areas of web development, cloud computing (IaaS, PaaS, SaaS), software systems architecture, DevOps, and event-driven automation.</p>
    <p>I am currently pursuing a Bachelor of Applied Science (BASc) in Computer Engineering at the University of Waterloo. It is a five year co-op program consisting of alternating four month work and study terms. I am currently looking for a work placement in any software development or related field.</p>
</div>