<h1 class="page-header">About</h1>
<div class="invisible" when-visible="animateElementIn" when-not-visible="animateElementOut" flowtype min-font="15" max-font="20" font-ratio="35" line-ratio="1.5" minimum="1" maximum="9999">
<img class="profile-image" src="images/maxwellcarter.jpg"/>
    <p>I am a technology enthusiast with a passion for software engineering. My primary interests are in the areas of web development, cloud computing, and DevOps. I have experience developing software in multiple domains at various technology companies throughout Canada and USA. </p>

    <p>I am University of Waterloo Alumni (class of 2018) with a Bachelor of Applied Science (BASc) in Honours Computer Engineering. Throughout the degree I studied everything from electrical systems and hardware design through to software development, networks, and communications. I also had the opportunity to intern as a software developper for various companies (see <a href="#timeline" du-smooth-scroll offset="50">timeline</a>). I am currently working full time as a Systems Software Engineer for NVIDIA on the NVIDIA GPU Network (NGN) Infrastructure Performance and Storage Engineering (IPSE) team in California.</p>

    <p>On my spare time I enjoy working on side projects, reading, and playing hockey. Being Canadian, hockey is huge part of my life. I currently play recreational hockey in various adult leagues througout the Bay Area. I also enjoy going on hikes and exploring the vineyards of Califonia.</p>
</div>
