<h1 class="page-header">Welcome</h1>
<div class="invisible" when-visible="animateElementIn" when-not-visible="animateElementOut">
    <div flowtype min-font="15" max-font="20" font-ratio="35" line-ratio="1.5" minimum="1" maximum="9999">
        <p>Welcome to my portfolio website! My name is <strong>Maxwell Carter</strong> and I am a Computer Engineering student from the University of Waterloo. I am currently looking for employment at a fast-paced technology company. I encourage you to reach-out by contacting me using the links below. Cheers!</p>
    </div>
    <a href="#contact" du-smooth-scroll offset="50" class="btn btn-lg btn-default btn-no-border hover-blue">
        <i class="fa fa-envelope"></i> Email
    </a>
    <a href="https://ca.linkedin.com/in/maxwellcarter" target="_blank" class="btn btn-lg btn-default btn-no-border hover-blue">
        <i class="fa fa-linkedin-square"></i> Linkedin
    </a>
    <a href="docs/Maxwell_Carter_Resume.pdf" target="_blank" class="btn btn-lg btn-default btn-no-border hover-blue">
        <i class="fa fa-thumb-tack"></i> Resume
    </a>
</div>
