<h1 class="page-header">Welcome</h1>
<div flowtype min-font="15" max-font="20" font-ratio="35" line-ratio="1.5" minimum="1" maximum="9999">
    <p>Hello, I am a Computer Engineering student from the University of Waterloo currently looking for employment! This is my portfolio website, you are invited to explore my world and try out some of my personal projects. I encourage you reach out by contacting me using one of the links below. </p>
</div>
<a href="#contact" du-smooth-scroll offset="50" class="btn btn-lg btn-default btn-no-border hover-blue">
    <i class="fa fa-envelope"></i> Email
</a>
<a href="https://ca.linkedin.com/in/maxwellcarter" target="_blank" class="btn btn-lg btn-default btn-no-border hover-blue">
    <i class="fa fa-linkedin-square"></i> Linkedin
</a>
<button type="button" class="btn btn-lg btn-default btn-no-border hover-blue">
    <i class="fa fa-thumb-tack"></i> Resume
</button>