<h1 class="page-header">Education</h1>
<div class="row invisible" when-visible="animateElementIn" when-not-visible="animateElementOut">
  <div class="col-sm-5">
    <a class="education-banner" href="https://uwaterloo.ca/" target="_blank"><img src="images/uwaterloo-vertical.png" /></a>
  </div>
  <div class="col-sm-7 education-info">
    <h2>Honours Computer Engineering</h2>
    <h3>Bachelor of Applied Science (BASc)</h3>
    <h3>Sept. 2013 - April 2018</h3>
    <a href="https://uwaterloo.ca/electrical-computer-engineering/" target="_blank" class="btn btn-lg btn-default btn-no-border hover-blue">
        <span>Find Out More</span>
    </a>
  </div>
</div>
