<timeline>
    <timeline-event ng-repeat="event in timeline.events">
        <timeline-badge class="{{event.badgeClass}} invisible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <i class="fa {{event.badgeIconClass}}"></i>
        </timeline-badge>
        <timeline-panel class="invisible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <timeline-heading>
                <div align="center" ng-show="event.image">
                    <a href="{{event.site}}" target="_blank">
                      <img class="img-responsive" ng-src="images/{{event.image}}" />
                    </a>
                </div>
                <br>
                <h4 class="page-header">{{event.title}} <small>{{event.small}}</small></h4> {{event.content.size}}
            </timeline-heading>
            <p read-more rm-text="{{event.content}}" rm-limit="150" rm-link-class="block btn btn-default"></p>
            <p class="pull-right"><small><i class="fa fa-map-marker"></i> {{event.location}}</small></p>
            <p class="cd-date">{{event.date}}</p>
        </timeline-panel>
    </timeline-event>
</timeline>
